.altmenu {
  position: relative;
  z-index: 1000;

  li.dropdown {
    float: left;
  }

  .groups {
    max-width: 1100px;
    margin: auto;
  }

  .link {
    padding-left: 12px;
    padding-right: 13px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-width: 0;
    border-color: #2f292914;
    color: #aaa;
    border-style: solid;
    padding: 9px 13px 9px 12px;
    display: block;
    text-transform: uppercase;
  }
}
