#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  /* background: #5e4edd; */
  display: none !important;
  height: 2px;
  background-color: #386bd7;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#05f),
    to(#827)
  );
  background-image: linear-gradient(90deg, #05f, #827);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  /* box-shadow: 0 0 10px #000, 0 0 5px #000; */
  opacity: 1;
  /* transform: rotate(3deg) translate(0px, -4px); */
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1032;
  height: 3px;
  overflow-x: hidden;
}

.line {
  position: absolute;
  opacity: 0.4;
  background-color: #386bd7;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#05f),
    to(#827)
  );
  background-image: linear-gradient(90deg, #05f, #827);
  width: 150%;
  height: 3px;
}

.subline {
  position: absolute;
  background-color: #386bd7;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#05f),
    to(#827)
  );
  background-image: linear-gradient(90deg, #05f, #827);
  height: 3px;
}
.inc {
  animation: increase 2s infinite;
}
.dec {
  animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
  from {
    left: -5%;
    width: 5%;
  }
  to {
    left: 130%;
    width: 100%;
  }
}
@keyframes decrease {
  from {
    left: -80%;
    width: 80%;
  }
  to {
    left: 110%;
    width: 10%;
  }
}

.tc-ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

.tc-sh {
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2);
}

.tc-gr {
  background-color: #00c6ff;
  background-image: -webkit-linear-gradient(90deg, #05f, #827);
  background-image: linear-gradient(90deg, #05f, #827);
}

.no-curve {
  border-radius: 0 !important;
}

.card {
  background: #fff;
  padding: 20px;
}

.feed_tabs {
  display: block;
  // height: 44px;
  background: #fff;
  margin: 0;
  margin-top: 20px;
  color: #666;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  white-space: nowrap !important;
  // max-width: 650px;
  border-radius: 13px;

  .active {
    color: #386bd7;
  }

  :hover {
    color: #262627;
  }
}

.feed_tabs li {
  list-style: none;
  line-height: 42px;
  margin-right: 22px;
  font-size: 21px;
  padding: 10px;
  display: inline-block;

  a {
    display: block;
  }
}

.feed_tabs li.active {
  border-bottom: 2px solid;
}

.inner {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.s-head {
  margin: 0;
  padding: 20px;
}

.brdrd {
  border-left: 2px solid;
}

.elevate {
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2);
  border: 1px solid #e2e2e2;
}

// .button {
//   background: #05f;
//   color: #fff;
//   padding: 6px 12px;
//   border-radius: 20px;
//   border: none;
//   box-sizing: border-box;
// }

// .button:hover {
//   color: #fff;
// }

.button {
  display: block;
  // margin: 35px 0;
  color: #ffffff;
  text-align: center;
  background: #6548dd;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 6px 22px;
  transition-property: background-color, box-shadow, background-image;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;

  &:focus {
    outline: 0;
    color: #fff;
  }

  &:focus,
  &:hover {
    // color: #fff;
    text-decoration: none !important;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transition-duration: 10ms;
    background-color: #4c35a5;
    background-image: -webkit-linear-gradient(top, #4c35a5, #674ec9);
    background-image: -moz-linear-gradient(top, #4c35a5, #674ec9);
    background-image: -o-linear-gradient(top, #4c35a5, #674ec9);
    background-image: linear-gradient(to bottom, #4c35a5, #674ec9);
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
    color: #fff;
  }
}

.full {
  width: 100%;
}
.dot:before {
  margin: 0 5px;
  content: '\00b7';
}
.flogo {
  display: table;
  margin: 10px auto;
  height: 44px;
}
@media only screen and (max-device-width: 640px) {
  .feed_tabs {
    margin: 18px;
  }
}
.row.detached,
.row.mod-bot-spaced {
  margin-bottom: 32px;
}
.row.mod-top-spaced,
.row.separated {
  margin-top: 32px;
}
.Separator {
  min-height: 1px;
  position: relative;
}
.row {
  display: block;
  margin: 16px 0;
  margin-top: 16px;
  margin-bottom: 16px;
}

.Separator::before {
  background-color: #c8c8c8;
  content: '';
  display: block;
  height: 1px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.Separator-Content {
  background-color: #fff;
  color: #4b4b4b;
  display: inline-block;
  font-size: 14px;
  padding-right: 16px;
  position: relative;
}

.toolbar {
  position: relative;
  // z-index: 1010;

  .logo {
    height: 40px;
  }
}

.bd {
  border: 1px solid;
  border-width: 1px !important;

  &t {
    border-top: 1px solid;
  }
  &l {
    border-left: 1px solid;
  }
  &b {
    border-bottom: 1px solid;
  }
  &r {
    border-right: 1px solid;
  }
}

.f11 {
  font-size: 11px;
}

.uh {
  padding-bottom: 3px;
  &:hover {
    border-bottom: 1px solid;
  }
}
.user-header {
  background-color: #3561b508;
}

.mb20 {
  margin-bottom: 20px;
}

.toolbar .button {
  padding: 6px 22px;
}

.b0 {
  border: none;
}

.p20 {
  padding: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mr20 {
  margin-right: 20px;
}
.postitem {
  border-radius: 4px;
  margin: 10px;
  overflow: hidden;

  .feature-photo {
    margin-top: 50px;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    border-radius: 5px;
    overflow: hidden;
  }
}

.s__line {
  height: 1px;
  width: 50px;
  margin: 25px auto;
}

.left-link {
  margin-left: 20px;
  font-size: 17px;
}

.feed_filter {
  margin: 18px;
  a {
    font-size: 20px;
    margin: 5px;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;

    &.current {
      border-bottom-color: #616161;
    }
  }
}
