.new_comment textarea {
    max-width: 100%;
    padding: 10px 16px;
    height: 120px;
    min-width: 100%;
    box-sizing: border-box;
}

.comments {
    margin-top: 30px;
}

.comment {
}

.comment .g-tabs {
	border: none;
}

.c-body {
	margin-left: 60px;
}