.pollview {
  max-width: 300px;

  .choice {
    padding: 5px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &.active {
      border-color: #5e4edd;

      .vote-meter {
        background-color: #4d3dce5e;
      }
    }
  }
  .vote-meter {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .vote-text {
    position: relative;
  }
}
