.v-progress {
      background-image: -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
    /* background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%); */
    /* background-repeat: repeat-x; */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEBEBEB', endColorstr='#FFF5F5F5', GradientType=0);
    overflow: hidden;
    margin-bottom: 20px;
    /* background-color: whitesmoke; */
    border-radius: 4px;
    /* -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); */
    /* box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); */
    max-width: 600px;
    margin: 0.2em 0 0.2em 0;
    border: 1px solid #5ABAEA;
    padding: 2px;
}

.v-progressâ€bar {
  padding: 5px 0px;
  // font-weight: 800;
  // text-shadow: 1px 1px 1px #262627;
  // color: #fff;
  min-height: 30px;
}

.v-alert {
  padding: 10px 20px;
  border: 1px solid;
  background: #F2F2F2;
  color: #DD1146;
  border-radius: 3px;
  margin-bottom: 6px;
}

.std-form3 {
	.blue {
		color: #05F;
	}

	.red {
		color: #F44366;
	}

	.nested-fields, .segment {
		margin-bottom: 20px;
	}
}

.std-form3 label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  /* font-weight: bold; */
}
.std-form3 .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.std-form3 .panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.std-form3 .panel-default {
  border-color: #dddddd;
}
.std-form3 .panel {
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.std-form3 .panel-body {
  padding: 15px;
}
.std-form3 .panel-default > .panel-heading {
  color: #333333;
  background-color: whitesmoke;
  border-color: #dddddd;
}
.std-form3 .panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.std-form3 .form-group {
  // margin-bottom: 15px;
}

*:before, *:after, * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tbspace25 {
  margin-bottom: 20px;
}
