body > div:first-child,
#__next {
  min-height: 100%;
}

a,
*:focus {
  outline: none;
  text-decoration: none;
  color: inherit;
}
input,
textarea {
  outline: none;
}
.heading {
  font-style: normal;
  font-weight: bold;
  color: rgb(34, 34, 34);
  font-size: 25px;
  margin-top: 30px;
  align-self: center;
}
.usermenu_link {
  display: block;
  margin-top: 10px;
  width: 200px;
  margin-bottom: 15px;
  color: #444;
  cursor: pointer;
}
.usermenu_link:hover {
  color: #000;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #fff;
}
@media (min-width: 576px) {
  .ant-form {
    width: 500px;
  }
}
@media (max-width: 1000px) {
  .sider.mobile {
    display: none;
  }
}
@media (min-width: 1000px) {
  /* .sider.mobile {
    display: none;
  } */
  .ham-menu {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px -1px 9px; */
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  /* border-radius: 3px; */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.ant-form {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 3px 0px;
}
.ant-steps-label-vertical .ant-steps-item-content {
  width: auto;
  max-width: 140px;
}
/* .auth-link {
  background: #ffed00;
  padding: 6px 13px;
  border-radius: 24px;
  margin-left: 12px;
}
@media (min-width: 768px) {
  .col-md-3 {
    float: left;
  }
}
@media (min-width: 576px) {
  .ant-form {
    width: 500px;
  }
} */
.sider.mobile .ant-menu {
  color: rgba(255, 255, 255, 0.65);
}
.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.ant-card {
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px 0px;
  border: 0;
  border-radius: 5px;
  overflow: hidden;
}
.powered {
  color: #0005;
  text-align: center;
  padding: 20px;
  display: block;
}
.powered a {
  border-bottom: 1px solid;
  text-decoration: none;
}
.pad {
  padding: 20px;
}

.divider {
  height: 1px;
  background-color: #ddd;
  margin: 5px 0;
}
.pad h2 {
  margin-left: 20px;
}
.ant-menu-inline > .ant-menu-item,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-left > .ant-menu-item,
.ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-right > .ant-menu-item,
.ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical > .ant-menu-item,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
  font-weight: bold;
}
/* .ant-menu {
  color: #000;
} */
.ant-menu-submenu,
.ant-menu-submenu-inline {
  border-bottom: 1px solid #ddd;
  padding-left: 16px;
}
.ant-card .ant-pagination {
  margin-right: 16px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

body > div:first-child,
#__next {
  height: 100%;
  font-family: 'Karla', sans-serif;
}

.home {
  margin: 0;
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: #000;
  background-image: url(/static/bg2.jpg);
  background-image: radial-gradient(#000, #000a, #0008, #0005, #0003),
    url(/static/bg2.jpg);
  background-size: cover;
}
a,
*:focus {
  outline: none;
  text-decoration: none;
  color: inherit;
}
input,
textarea {
  outline: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* loading progress bar styles */
/* #nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #fff;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #fff, 0 0 5px #fff;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
} */

/* loading progress bar styles */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  /* background: #5e4edd; */
  height: 2px;
  background-color: #386bd7;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#05f),
    to(#827)
  );
  background-image: linear-gradient(90deg, #05f, #827);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  /* box-shadow: 0 0 10px #000, 0 0 5px #000; */
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}
.inner {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
.slim {
  max-width: 700px;
  width: 100%;
  margin: auto;
}
a:hover {
  color: inherit;
}
a {
  text-decoration: none;
}
a:focus,
a:active {
  text-decoration: none;
}
.ant-anchor-ink {
  display: none;
}
