html {
  background: url(/static/images/logo2.png);
  background-repeat: no-repeat;
  background-position: -291px 195px;
}
body {
  color: #05f;
  font-family: 'Bitter', serif;
  background-color: #ffffffde !important;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
span {
  color: inherit;
}
.error {
  padding-top: 150px;
  padding-bottom: 150px;
}
.error .logo {
  width: 150px;
  margin-bottom: 45px;
}
footer {
  margin-top: 20px;
  font-size: 12px;
}
.extra {
  font-size: 50px;
  color: #7a36dd;
  margin-bottom: 50px;
}
p {
  opacity: 0.5;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: table;
  text-align: center;
}
