<div class="nav">
  <div class="inner">
    <header class="h-left">
      <a href="<%= root_path %>">
        <div class="logo">
          <%= image_tag 'logo3.png' %>
        </div>
      </a>
    </header>
    <header class="h-right">
      <div class="left">
        <%= render 'user_nav_menu' %>
      </div>
    </header>
  </div>
</div>
